@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");
:root {
  --color-primary: #45434A;
  --color-secondary: #B2A188;
}

.active {
  opacity: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "poppins", sans-serif;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

header {
  scroll-behavior: smooth;
  opacity: 0;
  transition: all 0.4s;
  min-width: 100vh;
  min-height: 100vh;
  background: url("https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405_960_720.jpg") center/cover no-repeat;
}
header .search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 100%;
  background: rgba(255, 255, 255, 0.4549019608);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
header .search-container .social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
header .search-container .social a {
  display: flex;
  margin: 0 8px;
}
header .filter-options {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
}
header .filter-options .filter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
header .filter-options .filter-list li {
  cursor: pointer;
  transition: all 0.3s;
}
header .filter-options .filter-list li:hover {
  display: flex;
  transform: scale(1.1);
}
header .search-container-middle {
  display: flex;
  align-items: center;
  height: 100vh;
}
header .search-container-middle .container {
  flex-direction: column;
  gap: 20px;
}
header .search-container-middle .container h1 {
  font-size: 60px;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: thin;
}
header .search-container-middle .container h2 {
  font-size: 40px;
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}
header .search-container-middle .container h3 {
  font-size: 32px;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 400;
}
header .search-container-middle .container p {
  font-size: 14px;
  text-align: center;
  font-family: "Poppins", serif;
  font-weight: 400;
  margin-top: 20px;
}
header .search-container-middle .search-area {
  display: flex;
  justify-content: center;
}
header .search-container-middle .search-area input {
  border: none;
  border-bottom: 2px solid #fff;
  height: 30px;
  width: 300px;
  padding: 20px 0;
  background: transparent;
  color: #fff;
  font-size: 21px;
}
header .search-container-middle .search-area input:focus {
  outline: none;
}
header .search-container-middle .search-area button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  border: 1px solid var(--color-primary);
  height: 32px;
  width: 32px;
  border-radius: 50%;
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1803921569);
}
header .search-container-middle .search-area button:hover {
  cursor: pointer;
}
header .search-container-middle .search-area button img {
  transform: rotate(-90deg);
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  background-image: radial-gradient(rgb(0, 0, 110) 2px, rgb(0, 0, 38) 0.55px);
  background-size: 11px 11px;
  min-height: 100vh;
  border-top: 6px solid #000;
}
section .title-fotos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section .title-fotos h3 {
  font-family: "DM Serif Display";
  color: #fff;
  margin: 20px auto;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}
section .images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1058823529);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 90%;
}
section .images-container figure {
  position: relative;
}
section .images-container figure img {
  width: 400px;
  height: 300px;
  margin: 20px;
  border: 10px solid #fefae0;
  border-bottom: 80px solid #fefae0;
  transition-duration: 1s;
  object-fit: cover;
  background: #000;
  position: relative;
}
section .images-container figure img:hover {
  border: 5px solid #fff;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
section .images-container figure figcaption {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #000;
}
section .images-container footer {
  background-color: #bc6c25;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  min-width: 100vw;
}
section .images-container #heart {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  text-align: center;
  background: #d9d9d9;
  border: 6px solid #fbff00;
  border-radius: 50%;
}
section .images-container .rotate {
  rotate: -90deg;
}
section .images-container .rotate-2 {
  rotate: 90deg;
  height: 400px;
  width: 300px;
  margin: 40px 0;
}

.return-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  background: #fff;
  width: 32px;
  height: 32px;
  scroll-behavior: smooth;
}
.return-to-top:hover {
  cursor: pointer;
}
.return-to-top span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
.return-to-top span img {
  transform: rotate(180deg);
}

/*# sourceMappingURL=base.css.map */
