@import '../partials/_header.scss';

.header-top {
  background: var(--color-primary);

  div.container {
    width: 100%;
    justify-content: space-around;

    .wishlist {
      a {
        font-size: 14px;
        color: var(--color-black);  
      }
    }
  }
}

