@keyframes chroma {
    0% {
        filter: hue-rotate(180deg);
    }
    25% {
        filter: hue-rotate(360deg);
    }
    50% {
        filter: hue-rotate(-90deg);
    }
    75% {
        filter: hue-rotate(-180deg);
    }
    100% {
        filter: hue-rotate(-360deg);
    }
}