// All styled html classes

.flex, .view {
  display: flex;
}

.none {
  display: none;
}

.active {
  opacity: 1;
}

.align-center,
.center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}
